
<div ng-controller="SidebarController as vm">
    <!-- Left side column. contains the sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="/src/client/images/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Alexander Pierce</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li class="treeview" ng-repeat="r in vm.navRoutes">
                    <!--not parent-child-->
                    <a ui-sref="{{r.name}}" ng-if="!r.settings.onlyOne">
                        <i class="{{r.settings.icon}}"></i><span>{{r.settings.name}}</span>
                    </a>

                    <!--menu parent-child-->
                    <a ui-sref="{{r.name}}" ng-if="r.settings.onlyOne">
                        <i class="{{r.settings.icon}}"></i>{{r.settings.name}}
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu" ng-if="r.settings.onlyOne">
                        <li ng-repeat="child in r.settings.children">
                            <a ui-sref="{{child.url}}">
                                <i class="{{child.icon}}"></i><span>{{child.name}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--<li class="treeview">-->
                    <!--<a href="#">-->
                        <!--<i class="fa fa-files-o"></i>-->
                        <!--<span>Layout Options</span>-->
                        <!--<span class="label label-primary pull-right">4</span>-->
                    <!--</a>-->
                    <!--<ul class="treeview-menu">-->
                        <!--<li><a href="#"><i class="fa fa-circle-o"></i> Top Navigation</a></li>-->
                        <!--<li><a href="#"><i class="fa fa-circle-o"></i> Boxed</a></li>-->
                        <!--<li><a href="#"><i class="fa fa-circle-o"></i> Fixed</a></li>-->
                        <!--<li><a href="#"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--<i class="fa fa-th"></i> <span>Widgets</span> <small class="label pull-right bg-green">Hot</small>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="treeview">-->
                    <!--<a href="#">-->
                        <!--<i class="fa fa-pie-chart"></i>-->
                        <!--<span>Charts</span>-->
                        <!--<i class="fa fa-angle-left pull-right"></i>-->
                    <!--</a>-->
                    <!--<ul class="treeview-menu">-->
                        <!--<li><a href="#"><i class="fa fa-circle-o"></i> ChartJS</a></li>-->
                        <!--<li><a href="#"><i class="fa fa-circle-o"></i> Morris</a></li>-->
                        <!--<li><a href="#"><i class="fa fa-circle-o"></i> Flot</a></li>-->
                        <!--<li><a href="#"><i class="fa fa-circle-o"></i> Inline charts</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="treeview">-->
                    <!--<a href="#">-->
                        <!--<i class="fa fa-laptop"></i>-->
                        <!--<span>UI Elements</span>-->
                        <!--<i class="fa fa-angle-left pull-right"></i>-->
                    <!--</a>-->
                    <!--<ul class="treeview-menu">-->
                        <!--&lt;!&ndash;<li><a href="../UI/general.html"><i class="fa fa-circle-o"></i> General</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="../UI/icons.html"><i class="fa fa-circle-o"></i> Icons</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="../UI/buttons.html"><i class="fa fa-circle-o"></i> Buttons</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="../UI/sliders.html"><i class="fa fa-circle-o"></i> Sliders</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="../UI/timeline.html"><i class="fa fa-circle-o"></i> Timeline</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="../UI/modals.html"><i class="fa fa-circle-o"></i> Modals</a></li>&ndash;&gt;-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="treeview">-->
                    <!--<a href="#">-->
                        <!--<i class="fa fa-edit"></i> <span>Forms</span>-->
                        <!--<i class="fa fa-angle-left pull-right"></i>-->
                    <!--</a>-->
                    <!--<ul class="treeview-menu">-->
                        <!--&lt;!&ndash;<li><a href="../forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="../forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="../forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>&ndash;&gt;-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="treeview">-->
                    <!--<a href="#">-->
                        <!--<i class="fa fa-table"></i> <span>Tables</span>-->
                        <!--<i class="fa fa-angle-left pull-right"></i>-->
                    <!--</a>-->
                    <!--<ul class="treeview-menu">-->
                        <!--&lt;!&ndash;<li><a href="../tables/simple.html"><i class="fa fa-circle-o"></i> Simple tables</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="../tables/data.html"><i class="fa fa-circle-o"></i> Data tables</a></li>&ndash;&gt;-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--<i class="fa fa-calendar"></i> <span>Calendar</span>-->
                        <!--<small class="label pull-right bg-red">3</small>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--<i class="fa fa-envelope"></i> <span>Mailbox</span>-->
                        <!--<small class="label pull-right bg-yellow">12</small>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="treeview active">-->
                    <!--<a href="#">-->
                        <!--<i class="fa fa-folder"></i> <span>Examples</span>-->
                        <!--<i class="fa fa-angle-left pull-right"></i>-->
                    <!--</a>-->
                    <!--<ul class="treeview-menu">-->
                        <!--&lt;!&ndash;<li><a href="invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="profile.html"><i class="fa fa-circle-o"></i> Profile</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="login.html"><i class="fa fa-circle-o"></i> Login</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="register.html"><i class="fa fa-circle-o"></i> Register</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class="active"><a href="blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>&ndash;&gt;-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="treeview">-->
                    <!--<a href="#">-->
                        <!--<i class="fa fa-share"></i> <span>Multilevel</span>-->
                        <!--<i class="fa fa-angle-left pull-right"></i>-->
                    <!--</a>-->
                    <!--<ul class="treeview-menu">-->
                        <!--<li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>-->
                        <!--<li>-->
                            <!--<a href="#"><i class="fa fa-circle-o"></i> Level One <i class="fa fa-angle-left pull-right"></i></a>-->
                            <!--<ul class="treeview-menu">-->
                                <!--<li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>-->
                                <!--<li>-->
                                    <!--<a href="#"><i class="fa fa-circle-o"></i> Level Two <i class="fa fa-angle-left pull-right"></i></a>-->
                                    <!--<ul class="treeview-menu">-->
                                        <!--<li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>-->
                                        <!--<li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li><a href="../../documentation/index.html"><i class="fa fa-book"></i> <span>Documentation</span></a></li>-->
                <li class="header">LABELS</li>
                <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
</div>




<!--<div ng-controller="SidebarController as vm">-->
    <!--<ht-sidebar when-done-animating="vm.sidebarReady()">-->
        <!--<div class="sidebar-filler"></div>-->
        <!--<div class="sidebar-dropdown"><a href="#">Menu</a></div>-->
        <!--<div class="sidebar-inner">-->
            <!--<div class="sidebar-widget"></div>-->
            <!--<ul class="navi">-->
                <!--<li class="nlightblue fade-selection-animation" ng-class="vm.isCurrent(r)"-->
                    <!--ng-repeat="r in vm.navRoutes">-->
                    <!--<a ui-sref="{{r.name}}"-->
                       <!--ng-bind-html="r.settings.content"></a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</ht-sidebar>-->
<!--</div>-->
