<div>
  <!--<md-toolbar class="md-whiteframe-1dp">-->
  <!--<div class="md-toolbar-tools">-->
  <!--<div class="md-title">-->
  <!--Material Design Data Table-->
  <!--</div>-->
  <!--<div class="flex-right">-->
  <!--<md-button class="md-accent" aria-label="Add">-->
  <!--<i class="fa fa-plus"></i>-->
  <!--<span>Add</span>-->
  <!--</md-button>-->
  <!--<md-button class="md-accent" aria-label="Edit">-->
  <!--<i class="fa fa-plus"></i>-->
  <!--<span>Edit</span>-->
  <!--</md-button>-->
  <!--<md-button class="md-icon-button md-accent" aria-label="Delete">-->
  <!--<i class="fa fa-plus"></i>-->
  <!--<span>Delete</span>-->
  <!--</md-button>-->
  <!--</div>-->
  <!--</div>-->
  <!--</md-toolbar>-->

  <md-content laout="column" flex>

    <!--<md-card>-->
    <!--<div layout="row" layout-wrap class="checkboxes">-->
    <!--<md-checkbox ng-model="options.autoSelect">Auto Row Select</md-checkbox>-->
    <!--<md-checkbox ng-model="options.largeEditDialog">Lard Edit Dialogs</md-checkbox>-->
    <!--<md-checkbox ng-model="options.rowSelection">Row Selection</md-checkbox>-->
    <!--<md-checkbox ng-model="options.boundaryLinks">Pagination Boundary Links</md-checkbox>-->
    <!--<md-checkbox ng-model="options.pageSelector">Pagination Page Selector</md-checkbox>-->
    <!--</div>-->
    <!--</md-card>-->

    <md-card>
      <div class="flex-right">
        <md-button class="md-accent" aria-label="Add" ng-click="vm.goToAddView()">
          <i class="fa fa-plus"></i>
          <span>Add</span>
        </md-button>
        <md-button class="md-accent" aria-label="Edit" ng-click="vm.goToEditView()">
          <i class="fa fa-plus"></i>
          <span>Edit</span>
        </md-button>
        <md-button class="md-icon-button md-accent" aria-label="Delete" ng-click="vm.actionDelete()">
          <i class="fa fa-plus"></i>
          <span>Delete</span>
        </md-button>
      </div>

      <md-toolbar class="md-table-toolbar md-default" ng-hide="vm.options.rowSelection && vm.selected.length">
        <div class="md-toolbar-tools">
          <span>Product table</span>
          <div flex></div>
          <md-button ng-click="vm.loadStuff()">Async Operation</md-button>
        </div>
      </md-toolbar>

      <md-toolbar class="md-table-toolbar alternate" ng-show="vm.options.rowSelection && vm.selected.length">
        <div class="md-toolbar-tools">
          <span>{{vm.selected.length}} {{vm.selected.length > 1 ? 'items' : 'item'}} selected</span>
        </div>
      </md-toolbar>

      <md-table-container>
        <table md-table md-row-select="vm.options.rowSelection" ng-model="vm.selected" md-progress="vm.promise">
          <thead md-head md-order="vm.query.order" md-on-reorder="logOrder">
          <tr md-row>
            <th md-column md-order-by="name"><span>Name Product</span></th>
            <th md-column md-order-by="cost"><span>Cost</span></th>
            <th md-column md-numeric md-order-by="sale" md-desc><span>Sale</span></th>
            <th md-column md-numeric md-order-by="trademark"><span>Trademark</span></th>
            <th md-column md-numeric md-order-by="promotion"><span>Promotion</span></th>
            <th md-column md-numeric md-order-by="kind"><span>Kind</span></th>
            <th md-column md-numeric md-order-by="style" hide-gt-xs show-gt-md><span>Style</span></th>
            <th md-column md-numeric md-order-by="description" hide-gt-xs show-gt-lg><span>Description</span></th>
            <th md-column md-numeric md-order-by="quantity" hide-gt-xs show-gt-lg><span>Quantity</span></th>
            <!--<th md-column md-order-by="comment">-->
            <!--<md-icon>comments</md-icon>-->
            <!--<span>Comments</span>-->
            <!--</th>-->
          </tr>
          </thead>
          <tbody md-body>
          <tr md-row md-select="dessert" md-on-select="vm.logItem" md-auto-select="vm.options.autoSelect" ng-repeat="dessert in vm.desserts.data | filter: filter.search | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
            <td md-cell>{{dessert.name}}</td>
            <td md-cell>{{dessert.cost | number: 2}}</td>
            <!--<td md-cell>-->
            <!--<md-select ng-model="dessert.type" placeholder="Other">-->
            <!--<md-option ng-value="type" ng-repeat="type in vm.getTypes()">{{type}}</md-option>-->
            <!--</md-select>-->
            <!--</td>-->
            <td md-cell>{{dessert.sale}}</td>
            <td md-cell>{{dessert.trademark}}</td>
            <td md-cell>{{dessert.promotion}}</td>
            <td md-cell hide-gt-xs show-gt-md>{{dessert.kind}}</td>
            <td md-cell hide-gt-xs show-gt-lg>{{dessert.style}}</td>
            <td md-cell hide-gt-xs show-gt-lg>{{dessert.description}}</td>
            <!--<td md-cell ng-click="vm.editComment($event, dessert)" ng-class="{'md-placeholder': !dessert.comment}">-->
            <!--{{dessert.comment || 'Add a comment'}}-->
            <!--</td>-->
          </tr>
          </tbody>
        </table>
      </md-table-container>

      <!--<md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{desserts.count}}" md-page-select="options.pageSelector" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>-->
    </md-card>
  </md-content>
</div>
